section.cfh-home-1#cfh-home-1
	.row.no-gutters
		.col-lg-8.col-xl-9
			.swiper-container(data-aos='fade-up')
				.swiper-wrapper
					.swiper-slide
						img(src="./img/1.jpeg", alt="Điều mà Crawfish7 luôn mong mỏi là mang đến cho khách hàng sự trãi nghiệm thực tế và cảm giác thân thiện cùng với những món ăn ngon và đậm hương vị.")
					.swiper-slide
						img(src="./img/5.jpg", alt="Điều mà Crawfish7 luôn mong mỏi là mang đến cho khách hàng sự trãi nghiệm thực tế và cảm giác thân thiện cùng với những món ăn ngon và đậm hương vị.")
					.swiper-slide
						img(src="./img/2.jpg", alt="Điều mà Crawfish7 luôn mong mỏi là mang đến cho khách hàng sự trãi nghiệm thực tế và cảm giác thân thiện cùng với những món ăn ngon và đậm hương vị.")
					.swiper-slide
						img(src="./img/3.jpg", alt="Điều mà Crawfish7 luôn mong mỏi là mang đến cho khách hàng sự trãi nghiệm thực tế và cảm giác thân thiện cùng với những món ăn ngon và đậm hương vị.")
					.swiper-slide
						img(src="./img/6.jpg", alt="Điều mà Crawfish7 luôn mong mỏi là mang đến cho khách hàng sự trãi nghiệm thực tế và cảm giác thân thiện cùng với những món ăn ngon và đậm hương vị.")
					.swiper-slide
						img(src="./img/7.jpg", alt="Điều mà Crawfish7 luôn mong mỏi là mang đến cho khách hàng sự trãi nghiệm thực tế và cảm giác thân thiện cùng với những món ăn ngon và đậm hương vị.")
					.swiper-slide
						img(src="./img/8.jpg", alt="Điều mà Crawfish7 luôn mong mỏi là mang đến cho khách hàng sự trãi nghiệm thực tế và cảm giác thân thiện cùng với những món ăn ngon và đậm hương vị.")
					.swiper-slide
						img(src="./img/9.jpg", alt="Điều mà Crawfish7 luôn mong mỏi là mang đến cho khách hàng sự trãi nghiệm thực tế và cảm giác thân thiện cùng với những món ăn ngon và đậm hương vị.")
					.swiper-slide
						img(src="./img/10.jpg", alt="Điều mà Crawfish7 luôn mong mỏi là mang đến cho khách hàng sự trãi nghiệm thực tế và cảm giác thân thiện cùng với những món ăn ngon và đậm hương vị.")
					.swiper-slide
						img(src="./img/11.jpg", alt="Điều mà Crawfish7 luôn mong mỏi là mang đến cho khách hàng sự trãi nghiệm thực tế và cảm giác thân thiện cùng với những món ăn ngon và đậm hương vị.")
				.swiper-navigation
					.swiper-btn.swiper-prev
						em.mdi.mdi-chevron-left
					.swiper-btn.swiper-next
						em.mdi.mdi-chevron-right
		.col-lg-4.col-xl-3
			.content-wrapper(data-aos='fade-up')
				//- .logo
					img(src="./img/logo.png", alt="")
				h2 HEAR THE TASTE
				.text
					p.mb-2.lead2 Crawfish7 desires to introduce the authentic Vietnamese cusine to everyone and make it a popular choice among many others.
					p.mb-2 Located in Southern Texas, an enriched land where mother nature gives us a special gift - the Crawfish.
					p.mb-2 Crawfish7 được khai sinh với mong muốn đem lại sự giao thoa về văn hóa lẫn ẩm thực. Một hương vị đầy ắp quê hương Việt Nam hòa quyện vào với sắc thái lẫn nét độc đáo của nước Mỹ.  
				.viewMore
					a(href="javascript:void(0)" data-to='4') Pictures
