section.cfh-home-2
	.cfh-title(data-aos='fade-up')
		h2 Về chúng tôi
		.sec-num
			span 01
	.main-wrapper
		.container
			.row.justify-content-center
				.col-lg-4.align-self-center.col-md-6(data-aos='fade-right')
					.text-wrapper
						p.mb-2.lead Lấy cảm hứng từ các khớp nối trên thân chú crawfish nên cách thiết kế logo cho đến font chữ đều thể hiện hình ảnh ấy.
						p Các màu sắc được phối có tính toán nhằm thể hiện sự phong phú trong món ăn, đa văn hóa và gợi cảm giác đói cho người nhìn, với hai màu xanh đỏ là chủ đạo để nói lên phong cách Mỹ trong cái hồn rất Việt.
				.col-lg-4.align-self-center.col-md-6(data-aos='fade-right')
					.image-wrapper
						img(src="./img/4.jpg", alt="")
