section.cfh-home-2#cfh-home-2
	.cfh-title(data-aos='fade-up')
		h2 Our Story
		.sec-num
			span 01
	.main-wrapper
		.container
			.row.justify-content-center
				.col-lg-4.align-self-center.col-md-6(data-aos='fade-right')
					.text-wrapper
						p.mb-2.lead Inspired by the crawfish body shell, both our logo and font themes are displaying its unique structure.
						p The color schemes are carefully selected to present the richness of our cusine and the multi-cultural blend that everyone will appreciate and enjoy. The Red & Blue main theme presents an American cooking style within a true Vietnamese spirit.
				.col-lg-4.align-self-center.col-md-6(data-aos='fade-right')
					.image-wrapper
						img(src="./img/4.jpg", alt="")
