footer.cfh-footer
	.container
		.main-wrapper
			.logo
				img(src="./img/logo.png", alt="Crawfish7 mong muốn giới thiệu ẩm thực Việt đích thực đến với nhiều đối tượng khách hàng, đặc biệt là khách hàng Việt Nam, đồng thời biến nhu cầu thưởng thức món ăn Việt thành một nhu cầu thường xuyên và phổ biến.")
			.social
				ul.list-inline 
					li.list-inline-item 
						a(href="https://fb.com/crawfish.seven")
							i.mdi.mdi-facebook 
					li.list-inline-item 
						a(href="https://www.facebook.com/messages/t/crawfish.seven")
							i.mdi.mdi-facebook-messenger 
					li.list-inline-item 
						a(href="https://instagram.com/crawfish.seven")
							i.mdi.mdi-instagram 
			.info
				p 5302 E Belknap St d, Haltom City, TX 76117
					br
					| Tel: 
					| 
					a(href="tel:+1 817 744-8754") +1 (817) 744-8754
			.desc 
				p.text-bold LẮNG NGHE HƯƠNG VỊ
	.copyright
		p © 2019 
			| 
			a(href="https://p2b-gravel.com") P2B Gravel Media
			| . All rights reserved.
	// Global site tag (gtag.js) - Google Analytics
	script(async="" src="https://www.googletagmanager.com/gtag/js?id=UA-135709977-1")
	script.
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-135709977-1');

