section.cfh-home-6
	.cfh-title(data-aos='fade-up')
		h2 Thực đơn
		.sec-num
			span 03
	.main-wrapper
		.container
			.row
				.col-lg-4(data-aos='fade-right')
					.text-wrapper.mb-5
						p.mb-3.lead Thực đơn của Crawfish7 có nhiều món ăn phong phú, đặc sắc và rất ngon miệng. 
						p Thực đơn luôn được định kỳ bổ sung và thay đổi nhằm giới thiệu cho khách hàng nhiều hơn nữa những món ăn truyền thống Việt.
				.col-lg-8(data-aos='fade-right')
					.row
						.item.col-sm-6.col-lg-4
							h3.mb-0 
								i.mdi.mdi-food-fork-drink
								| 
								| Crawfish 
							p.text-muted.text-xs Lorem, ipsum dolor sit amet consectetur 
						.item.col-sm-6.col-lg-4
							h3.mb-0 
								i.mdi.mdi-food-fork-drink
								| 
								| Hủ tíu 
							p.text-muted.text-xs Lorem, ipsum dolor sit amet consectetur 
						.item.col-sm-6.col-lg-4
							h3.mb-0 
								i.mdi.mdi-food-fork-drink
								| 
								| Mì xào 
							p.text-muted.text-xs Lorem, ipsum dolor sit amet consectetur 
						.item.col-sm-6.col-lg-4
							h3.mb-0 
								i.mdi.mdi-food-fork-drink
								| 
								| Cơm trưa 
							p.text-muted.text-xs Lorem, ipsum dolor sit amet consectetur 
						.item.col-sm-6.col-lg-4
							h3.mb-0 
								i.mdi.mdi-food-fork-drink
								| 
								| Crawfish 
							p.text-muted.text-xs Lorem, ipsum dolor sit amet consectetur 
						.item.col-sm-6.col-lg-4
							h3.mb-0 
								i.mdi.mdi-food-fork-drink
								| 
								| Hủ tíu 
							p.text-muted.text-xs Lorem, ipsum dolor sit amet consectetur 
						.item.col-sm-6.col-lg-4
							h3.mb-0 
								i.mdi.mdi-food-fork-drink
								| 
								| Mì xào 
							p.text-muted.text-xs Lorem, ipsum dolor sit amet consectetur 
						.item.col-sm-6.col-lg-4
							h3.mb-0 
								i.mdi.mdi-food-fork-drink
								| 
								| Cơm trưa 
							p.text-muted.text-xs Lorem, ipsum dolor sit amet consectetur 
						