section.cfh-home-6#cfh-home-6
	.cfh-title(data-aos='fade-up')
		h2 C7 Menu
		.sec-num
			span 03
	.main-wrapper
		.container
			.row
				.col-lg-4(data-aos='fade-right')
					.text-wrapper.mb-5
						p.mb-3.lead Thực đơn của Crawfish7 có nhiều món ăn phong phú, đặc sắc và rất ngon miệng. 
						p Thực đơn luôn được định kỳ bổ sung và thay đổi nhằm giới thiệu cho khách hàng nhiều hơn nữa những món ăn truyền thống Việt.
				.col-lg-8(data-aos='fade-right')
					.row
						.item.col-sm-6.col-lg-4
							h3.mb-0 
								i.mdi.mdi-food-fork-drink
								| 
								| Appetizers
							h5 
								span Khai vị
							p.text-muted.text-xs Egg rolls, Fried Shrimp, Spring Rolls, Fried Fish Fillet...
						.item.col-sm-6.col-lg-4
							h3.mb-0 
								i.mdi.mdi-food-fork-drink
								| 
								| Pho Noodle
							h5 
								span Phở
							p.text-muted.text-xs Filet, Tendo, Tripe, Fatly Flank, Meatball, Chicken...
						.item.col-sm-6.col-lg-4
							h3.mb-0 
								i.mdi.mdi-food-fork-drink
								| 
								| Spicy Beef Noodle
							h5 
								span Bún bò
							p.text-muted.text-xs Pork Hock, Beef, Pork Ham....
						.item.col-sm-6.col-lg-4
							h3.mb-0 
								i.mdi.mdi-food-fork-drink
								| 
								| Vermicelli
							h5 
								span Bún thịt nướng
							p.text-muted.text-xs Grilled Pork, Egg Roll, Grilled Shrimp...
						.item.col-sm-6.col-lg-4
							h3.mb-0 
								i.mdi.mdi-food-fork-drink
								| 
								| Rice
							h5 
								span Cơm
							p.text-muted.text-xs Shrimp Fried, Chicken Fried, Egg Meat...
						.item.col-sm-6.col-lg-4
							h3.mb-0 
								i.mdi.mdi-food-fork-drink
								| 
								| Combination
							h5 
								span Mì xào 
							p.text-muted.text-xs Fried Egg Noodle...
						.item.col-sm-6.col-lg-12
							h3.mb-0 
								i.mdi.mdi-food-fork-drink
								| 
								| Crawfish
							h5 
								span Crawfish
							p.text-muted.text-xs Corn, Potato, Sausage...
						