section.cfh-home-6#cfh-home-6
	.cfh-title(data-aos='fade-up')
		h2 Thực đơn
		.sec-num
			span 03
	.main-wrapper
		.container
			.row
				.col-lg-4(data-aos='fade-right')
					.text-wrapper.mb-5
						p.mb-3.lead Thực đơn của Crawfish7 có nhiều món ăn phong phú, đặc sắc và rất ngon miệng. 
						p Thực đơn luôn được định kỳ bổ sung và thay đổi nhằm giới thiệu cho khách hàng nhiều hơn nữa những món ăn truyền thống Việt.
				.col-lg-8(data-aos='fade-right')
					.row
						.item.col-sm-6.col-lg-4
							h3.mb-0 
								i.mdi.mdi-food-fork-drink
								| 
								| Khai vị
							h5 
								span Appetizers
							p.text-muted.text-xs Egg rolls, Fried Shrimp, Spring Rolls, Fried Fish Fillet...
						.item.col-sm-6.col-lg-4
							h3.mb-0 
								i.mdi.mdi-food-fork-drink
								| 
								| Phở
							h5 
								span Pho Noodle
							p.text-muted.text-xs Filet, Tendo, Tripe, Fatly Flank, Meatball, Chicken...
						.item.col-sm-6.col-lg-4
							h3.mb-0 
								i.mdi.mdi-food-fork-drink
								| 
								| Bún bò
							h5 
								span Spicy Beef Noodle
							p.text-muted.text-xs Pork Hock, Beef, Pork Ham....
						.item.col-sm-6.col-lg-4
							h3.mb-0 
								i.mdi.mdi-food-fork-drink
								| 
								| Bún thịt nướng
							h5 
								span Vermicelli
							p.text-muted.text-xs Grilled Pork, Egg Roll, Grilled Shrimp...
						.item.col-sm-6.col-lg-4
							h3.mb-0 
								i.mdi.mdi-food-fork-drink
								| 
								| Cơm
							h5 
								span Rice
							p.text-muted.text-xs Shrimp Fried, Chicken Fried, Egg Meat...
						.item.col-sm-6.col-lg-4
							h3.mb-0 
								i.mdi.mdi-food-fork-drink
								| 
								| Mì xào 
							h5 
								span Combination
							p.text-muted.text-xs Fried Egg Noodle...
						.item.col-sm-6.col-lg-12
							h3.mb-0 
								i.mdi.mdi-food-fork-drink
								| 
								| Crawfish
							h5 
								span Crawfish
							p.text-muted.text-xs Corn, Potato, Sausage...
						