section.cfh-home-8#cfh-home-8
	.cfh-title(data-aos='fade-up')
		h2 Sharing
		.sec-num
			span 05
	.main-wrapper
		.container
			.row
				.col-md-7.col-lg-6.offset-lg-2.align-self-center(data-aos='fade-right')
					.text-wrapper
						p.lead Crawfish7 would like to introduce authentic Vietnamese cuisine which Vietnamese and others would enjoy.  

				.col-md-5.col-lg-4.align-self-center(data-aos='fade-right')
					.image-wrapper.mt-4
						img(src="./img/scooter2.png", alt="")
