section.cfh-home-8#cfh-home-8
	.cfh-title(data-aos='fade-up')
		h2 Sharing
		.sec-num
			span 05
	.main-wrapper
		.container
			.row
				.col-md-7.col-lg-6.offset-lg-2.align-self-center(data-aos='fade-right')
					.text-wrapper
						p.lead Crawfish7  mong muốn giới thiệu ẩm thực Việt đích thực đến với nhiều đối tượng khách hàng, đặc biệt là khách hàng Việt Nam, đồng thời biến nhu cầu thưởng thức món ăn Việt thành một nhu cầu thường xuyên và phổ biến.

				.col-md-5.col-lg-4.align-self-center(data-aos='fade-right')
					.image-wrapper.mt-4
						img(src="./img/scooter2.png", alt="")
