section.cfh-home-5#cfh-home-5
	.cfh-title(data-aos='fade-up')
		h2 Liên hệ
		.sec-num
			span 07
	.main-wrapper(data-aos='fade-left')
		.text
			p.mb-1 Ý kiến của quý khách là nền tảng cho chúng tôi cải tiến và nâng cao chất lượng dịch vụ. Chúng tôi luôn trân trọng ý kiến của quý khách đã góp phần vào sự phát triển bền vững của Crawfish7. 

			p 
				strong Mọi ý kiến đóng góp vui lòng để lại thông tin tại:


		.contact
			a(href="mailto:info@crawfish7.com") GỬI EMAIL
		.map
			iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3353.886675239879!2d-97.27111628436921!3d32.79526398096655!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864e775ecdb73b11%3A0x6a3e8dae62d1eade!2sCrawfish+7+Restaurant!5e0!3m2!1sen!2sus!4v1551888037838" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen="")
	//- // Load Facebook SDK for JavaScript
	//- #fb-root
	//- script.
	//- 	window.fbAsyncInit = function() {
	//- 	FB.init({
	//- 	xfbml            : true,
	//- 	version          : 'v3.2'
	//- 	});
	//- 	};
	//- 	(function(d, s, id) {
	//- 	var js, fjs = d.getElementsByTagName(s)[0];
	//- 	if (d.getElementById(id)) return;
	//- 	js = d.createElement(s); js.id = id;
	//- 	js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
	//- 	fjs.parentNode.insertBefore(js, fjs);
	//- 	}(document, 'script', 'facebook-jssdk'));
	//- // Your customer chat code
	//- .fb-customerchat(attribution="setup_tool" page_id="2327244670820265")

