block variables

doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="./css/core.min.css")
		link(rel="stylesheet", href="./css/main.css")
		link(href="https://fonts.googleapis.com/css?family=Quicksand:400,700&amp;subset=vietnamese" rel="stylesheet")
		link(rel='apple-touch-icon', sizes='57x57', href='/favicon/apple-icon-57x57.png')
		link(rel='apple-touch-icon', sizes='60x60', href='/favicon/apple-icon-60x60.png')
		link(rel='apple-touch-icon', sizes='72x72', href='/favicon/apple-icon-72x72.png')
		link(rel='apple-touch-icon', sizes='76x76', href='/favicon/apple-icon-76x76.png')
		link(rel='apple-touch-icon', sizes='114x114', href='/favicon/apple-icon-114x114.png')
		link(rel='apple-touch-icon', sizes='120x120', href='/favicon/apple-icon-120x120.png')
		link(rel='apple-touch-icon', sizes='144x144', href='/favicon/apple-icon-144x144.png')
		link(rel='apple-touch-icon', sizes='152x152', href='/favicon/apple-icon-152x152.png')
		link(rel='apple-touch-icon', sizes='180x180', href='/favicon/apple-icon-180x180.png')
		link(rel='icon', type='image/png', sizes='192x192', href='/favicon/android-icon-192x192.png')
		link(rel='icon', type='image/png', sizes='32x32', href='/favicon/favicon-32x32.png')
		link(rel='icon', type='image/png', sizes='96x96', href='/favicon/favicon-96x96.png')
		link(rel='icon', type='image/png', sizes='16x16', href='/favicon/favicon-16x16.png')
		meta(name='msapplication-TileImage', content='/favicon/ms-icon-144x144.png')
		link(rel='manifest', href='/favicon/manifest.json')
		title #{title}

		meta(name="description" content="Crawfish7 desires to introduce the authentic Vietnamese cusine to everyone and make it a popular choice among many others.")
		meta(name="author" content="baonguyenyam@gmail.com - +1 862 203 1334")
		meta(name="subject" content="Crawfish7")
		meta(name="keywords" content="crawfish, restaurant, fort worth, nhà hàng, vietanmese")
		meta(name="geography" content="5302 E Belknap St d, Haltom City, TX 76117")
		meta(name="language" content="United States")
		meta(name="copyright" content="Crawfish7")
		meta(name="designer" content="Bao Nguyen")
		meta(name="publisher" content="Crawfish7 ")
		meta(name="distribution" content="Global")
		meta(name="robots" content="INDEX,FOLLOW")
		meta(name="city" content="Fort Worth")
		meta(name="country" content="United States")
		meta(name="theme-color" content="#38479C")
		meta(name="msapplication-navbutton-color" content="#38479C")
		meta(name="apple-mobile-web-app-status-bar-style" content="#38479C")
		meta(name="geo.region" content="US-TX")
		meta(name="geo.placename" content="Haltom City")
		meta(name="geo.position" content="32.795264;-97.268928")
		meta(name="ICBM" content="32.795264, -97.268928")
		link(rel="dns-prefetch" href="https://maps.googleapis.com/")
		link(rel="dns-prefetch" href="https://s.w.org/")
		link(rel="canonical" href="https://crawfish7.com/index_en.html")
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-title" content="Crawfish 7 Restaurant - Vietnamese Cusine - Crawfish7 desires to introduce the authentic Vietnamese cusine to everyone and make it a popular choice among many others.")
		meta(name="msapplication-TileColor" content="#ffffff")
		meta(name="msapplication-TileImage" content="favicon/ms-icon-144x144.png")
		meta(name="theme-color" content="#ffffff")
		meta(name="twitter:card" content="Crawfish 7 Restaurant - Vietnamese Cusine")
		meta(name="twitter:site" content="https://crawfish7.com/index_en.html")
		meta(name="twitter:creator" content="@Crawfish7")
		meta(name="twitter:title" content="Crawfish 7 Restaurant - Vietnamese Cusine")
		meta(name="twitter:description" content="Crawfish7 desires to introduce the authentic Vietnamese cusine to everyone and make it a popular choice among many others.")
		meta(name="twitter:image:src" content="https://crawfish7.com/img/main.jpg")
		meta(property="og:type" content="product")
		meta(property="og:url" content="https://crawfish7.com/index_en.html")
		meta(property="og:title" content="Crawfish 7 Restaurant - Vietnamese Cusine")
		meta(property="og:image" content="https://crawfish7.com/img/main.jpg")
		meta(property="og:description" content="Crawfish7 desires to introduce the authentic Vietnamese cusine to everyone and make it a popular choice among many others.")
		meta(property="og:site_name" content="Crawfish 7 Restaurant - Vietnamese Cusine")
		meta(property="article:author" content="https://www.facebook.com/crawfish.seven")
		meta(property="article:publisher" content="https://www.facebook.com/crawfish.seven")
		meta(property="fb:pages" content="2327244670820265")
		meta(property="ia:markup_url" content="https://crawfish7.com/index_en.html")
		meta(itemprop="name" content="Crawfish 7 Restaurant - Vietnamese Cusine")
		meta(itemprop="description" content="Crawfish7 desires to introduce the authentic Vietnamese cusine to everyone and make it a popular choice among many others.")
		meta(itemprop="image" content="https://crawfish7.com/img/1.jpeg")
		meta(property="og:image" content="https://crawfish7.com/img/main.jpg")
		meta(property="og:image" content="https://crawfish7.com/img/1.jpeg")
		meta(property="og:image" content="https://crawfish7.com/img/2.jpeg")
		meta(property="og:image" content="https://crawfish7.com/img/2.jpeg")
		meta(property="og:image" content="https://crawfish7.com/img/3.jpeg")
		meta(property="og:image" content="https://crawfish7.com/img/logo.png")
		meta(property="og:image" content="https://crawfish7.com/img/logo-1.png")
	body(class=bodyClass)
		block header
		main
			block main
		block footer
		#backToTop
			em.mdi.mdi-chevron-up
		script(src="./js/core.min.js")
		script(src="./js/main.js")
