section.cfh-home-7#cfh-home-7
	.cfh-title(data-aos='fade-up')
		h2 R7 Viral
		.sec-num
			span 04
	.main-wrapper
		.container
			.row
				.col-lg-6.item.mb-4(data-aos='fade-right')
					iframe(width="100%" height="315" src="https://www.youtube.com/embed/zva6ZjONVSA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
				.col-lg-6.item(data-aos='fade-right')
					h3 Vì sao là Seven?
					p.lead Trong văn hóa Tây phương số 7 thể hiện sự may mắn như: nhạc lý có 7 nốt thể hiện các cung bậc cảm xúc, màu sắc có 7 màu để tạo nên một cầu vồng sặc sỡ thì mỗi ngày trong tuần tại Crawfish7 sẽ cho bạn những ĐA VỊ trong cảm xúc của từng món ăn tinh tế.
					.viewMore
						a(href="https://www.youtube.com/watch?v=zva6ZjONVSA") Theo dõi kênh
