extends _layout/layout

block variables
	- var title = 'Vietnamese Cusine - Liten the delicious'
	- var description = 'Description for home page'
	- var bodyclass = 'home'
block header
	include ../lib/header/index_en.pug
block main
	include ../lib/home/h-1/index.pug
	include ../lib/home/h-2/index.pug
	include ../lib/home/h-3/index.pug
	include ../lib/home/h-6/index.pug
	include ../lib/home/h-7/index.pug
	include ../lib/home/h-8/index.pug
	include ../lib/home/h-4/index.pug
	include ../lib/home/h-5/index.pug
block footer
	include ../lib/footer/index_en.pug
