extends _layout/layout

block variables
	- var title = 'Vietnamese Cusine - Lắng nghe hương vị'
	- var description = 'Description for home page'
	- var bodyclass = 'home'
block header
	include ../lib/header/index.pug
block main
	include ../lib/home/h-1/index.pug
	include ../lib/home/h-2/index.pug
	include ../lib/home/h-3/index.pug
	include ../lib/home/h-6/index.pug
	include ../lib/home/h-7/index.pug
	include ../lib/home/h-8/index.pug
	include ../lib/home/h-4/index.pug
	include ../lib/home/h-5/index.pug
block footer
	include ../lib/footer/index.pug
	//- button.btn.btn-primary.modal-toggle#modal-toggle(type="button") Launch demo modal
	// Modal
	.modal#modal
		.modal-overlay.modal-toggle
		.modal-wrapper.modal-transition
			.modal-header
				button.modal-close.modal-toggle
					i.fa.fa-times-circle
				h2.modal-heading May 2019 Special Check In Event
			.modal-body
				.modal-content
					.img
						a(href="https://www.facebook.com/crawfish.seven/?ref=bookmarks")
							img(src="./img/adv.jpg")
					//- button.modal-toggle Update

