extends _layout/layout_en

block variables
	- var title = 'Vietnamese Cusine - Hear the taste'
	- var description = 'Description for home page'
	- var bodyclass = 'home'
block header
	include ../lib/header/index_en.pug
block main
	include ../lib/home/h-1/index_en.pug
	include ../lib/home/h-2/index_en.pug
	include ../lib/home/h-3/index_en.pug
	include ../lib/home/h-6/index_en.pug
	include ../lib/home/h-7/index_en.pug
	include ../lib/home/h-8/index_en.pug
	include ../lib/home/h-4/index_en.pug
	include ../lib/home/h-5/index_en.pug
block footer
	include ../lib/footer/index_en.pug
