header.cfh-header
	.header-wrapper
		.container
			.top-wrapper
				.header-logo
					a(href="/")
						img(src="./img/logo-1.png", alt="Crawfish7 desires to introduce the authentic Vietnamese cusine to everyone and make it a popular choice among many others.")
				//- .header-button
					span menu
					.toggle-button
						.button
	.main-nav
		ul
			li(data-to='2')
				a(href="javascipt:void(0)", onclick="javascipt:void(0)") 
					span 01 
					| Ohm?
			li(data-to='3')
				a(href="javascipt:void(0)", onclick="javascipt:void(0)") 
					span 02 
					| Services
			li(data-to='6')
				a(href="javascipt:void(0)", onclick="javascipt:void(0)") 
					span 03 
					| Taste
			li(data-to='7')
				a(href="javascipt:void(0)", onclick="javascipt:void(0)") 
					span 04 
					| Look
			li(data-to='8')
				a(href="javascipt:void(0)", onclick="javascipt:void(0)") 
					span 05 
					| Think
			li(data-to='4')
				a(href="javascipt:void(0)", onclick="javascipt:void(0)") 
					span 06 
					| Image
			li(data-to='5')
				a(href="javascipt:void(0)", onclick="javascipt:void(0)") 
					span 07
					| Cafe
			li
				a(href="/index.html")
					i.mdi.mdi-earth
					| 
					span VI
