header.cfh-header
	.header-wrapper
		.container
			.top-wrapper
				.header-logo
					a(href="/")
						img(src="./img/logo-1.png", alt="Crawfish7 mong muốn giới thiệu ẩm thực Việt đích thực đến với nhiều đối tượng khách hàng, đặc biệt là khách hàng Việt Nam, đồng thời biến nhu cầu thưởng thức món ăn Việt thành một nhu cầu thường xuyên và phổ biến.")
				//- .header-button
					span menu
					.toggle-button
						.button
	.main-nav
		ul
			li(data-to='2')
				a(href="javascipt:void(0)") 
					span 01 
					| Ohm?
			li(data-to='3')
				a(href="javascipt:void(0)") 
					span 02 
					| Làm
			li(data-to='6')
				a(href="javascipt:void(0)") 
					span 03 
					| Vị
			li(data-to='7')
				a(href="javascipt:void(0)") 
					span 04 
					| Xem
			li(data-to='8')
				a(href="javascipt:void(0)") 
					span 05 
					| Ngẫm
			li(data-to='4')
				a(href="javascipt:void(0)") 
					span 06 
					| Ảnh
			li(data-to='5')
				a(href="javascipt:void(0)") 
					span 07
					| Cafe
