section.cfh-home-4#cfh-home-4
	.cfh-title(data-aos='fade-up')
		h2 Hình ảnh
		.sec-num
			span 06
	.main-wrapper
		.container
			.row
				.col
					.swiper-container(data-aos='fade-up')
						.swiper-wrapper
							.swiper-slide
								img(src="./img/1.jpeg", alt="Thực đơn của Crawfish7 có nhiều món ăn phong phú, đặc sắc và rất ngon miệng.")
							.swiper-slide
								img(src="./img/2.jpg", alt="Thực đơn của Crawfish7 có nhiều món ăn phong phú, đặc sắc và rất ngon miệng.")
							.swiper-slide
								img(src="./img/3.jpg", alt="Thực đơn của Crawfish7 có nhiều món ăn phong phú, đặc sắc và rất ngon miệng.")
							.swiper-slide
								img(src="./img/5.jpg", alt="Thực đơn của Crawfish7 có nhiều món ăn phong phú, đặc sắc và rất ngon miệng.")
							.swiper-slide
								img(src="./img/6.jpg", alt="Thực đơn của Crawfish7 có nhiều món ăn phong phú, đặc sắc và rất ngon miệng.")
							.swiper-slide
								img(src="./img/7.jpg", alt="Thực đơn của Crawfish7 có nhiều món ăn phong phú, đặc sắc và rất ngon miệng.")
							.swiper-slide
								img(src="./img/8.jpg", alt="Thực đơn của Crawfish7 có nhiều món ăn phong phú, đặc sắc và rất ngon miệng.")
							.swiper-slide
								img(src="./img/9.jpg", alt="Thực đơn của Crawfish7 có nhiều món ăn phong phú, đặc sắc và rất ngon miệng.")
							.swiper-slide
								img(src="./img/10.jpg", alt="Thực đơn của Crawfish7 có nhiều món ăn phong phú, đặc sắc và rất ngon miệng.")
							.swiper-slide
								img(src="./img/11.jpg", alt="Thực đơn của Crawfish7 có nhiều món ăn phong phú, đặc sắc và rất ngon miệng.")
							
						.swiper-pagination
