section.cfh-home-3#cfh-home-3
	.cfh-title(data-aos='fade-up')
		h2 Services
		.sec-num
			span 02
	.main-wrapper
		.container
			.row
				.col-md-4.item(data-aos='fade-right')
					figure
						.img
							img(src="./img/icon-1.png", alt="At Crawfish7, we are passionate about cooking.")
						figcaption
							p At Crawfish7, we are passionate about cooking.
				.col-md-4.item(data-aos='fade-right')
					figure
						.img
							img(src="./img/icon-2.png", alt="Crawfish7 strives to bring our customers the best experiences of friendliness and flavorful dishes.")
						figcaption
							p.lead Crawfish7 strives to bring our customers the best experiences of friendliness and flavorful dishes. 
				.col-md-4.item(data-aos='fade-right')
					figure
						.img
							img(src="./img/icon-3.png", alt="We do not simply cook, we put our best artistic self in everything we do at Crawfish7.")
						figcaption
							p We do not simply cook, we put our best artistic self in everything we do at Crawfish7.
