section.cfh-home-3#cfh-home-3
	.cfh-title(data-aos='fade-up')
		h2 Services
		.sec-num
			span 02
	.main-wrapper
		.container
			.row
				.col-md-4.item(data-aos='fade-right')
					figure
						.img
							img(src="./img/icon-1.png", alt="At Crawfish7, we are passionate about cooking food that everyone will enjoy. ")
						figcaption
							p At Crawfish7, we are passionate about cooking food that everyone will enjoy. 
				.col-md-4.item(data-aos='fade-right')
					figure
						.img
							img(src="./img/icon-2.png", alt="Crawfish7 strives to give our customers the best dining experience by offering friendly customer service and flavorful, delicious dishes.")
						figcaption
							p.lead Crawfish7 strives to give our customers the best dining experience by offering friendly customer service and flavorful, delicious dishes. 
				.col-md-4.item(data-aos='fade-right')
					figure
						.img
							img(src="./img/icon-3.png", alt="We do not simply cook, we put our heart and soul into everything we prepare at Crawfish7.")
						figcaption
							p We do not simply cook, we put our heart and soul into everything we prepare at Crawfish7.
