section.cfh-home-3#cfh-home-3
	.cfh-title(data-aos='fade-up')
		h2 Services
		.sec-num
			span 02
	.main-wrapper
		.container
			.row
				.col-md-4.item(data-aos='fade-right')
					figure
						.img
							img(src="./img/icon-1.png", alt="“Nếu Borélo là những giai điệu làm say đắm lòng thính giả thì ẩm thực tại Crawfish7 chính là những người tận tâm theo đuổi công việc bếp núc. ")
						figcaption
							p “Nếu Borélo là những giai điệu làm say đắm lòng thính giả thì ẩm thực tại Crawfish7 chính là những người tận tâm theo đuổi công việc bếp núc. 
				.col-md-4.item(data-aos='fade-right')
					figure
						.img
							img(src="./img/icon-2.png", alt="Điều mà Crawfish7 luôn mong mỏi là mang đến cho khách hàng sự trãi nghiệm thực tế và cảm giác thân thiện cùng với những món ăn ngon và đậm hương vị.")
						figcaption
							p.lead Điều mà Crawfish7 luôn mong mỏi là mang đến cho khách hàng sự trãi nghiệm thực tế và cảm giác thân thiện cùng với những món ăn ngon và đậm hương vị. 
				.col-md-4.item(data-aos='fade-right')
					figure
						.img
							img(src="./img/icon-3.png", alt="Chúng tôi không đơn giản chỉ xào nấu một cách bài bản khô ráp mà thay vào đó là sự hòa quyện cả tâm hồn của người nghệ sĩ.”")
						figcaption
							p Chúng tôi không đơn giản chỉ xào nấu một cách bài bản khô ráp mà thay vào đó là sự hòa quyện cả tâm hồn của người nghệ sĩ.”
